* {
    margin: 0;
    padding: 0;
    border: none;
}

@font-face {
    font-family: 'harmonymedium';
    src: url(../fonts/harmony_personal_use-webfont.woff) format('woff2'),
         url(../fonts/harmony_personal_use-webfont.woff2) format('woff');
    font-weight: normal;
    font-style: normal;

}

/* hero image, logo and cover text */
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image-2.jpeg) no-repeat center center;

    /* animates zoom on loading landing page */
    animation-name: hero-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

/* creates level of zoom for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#hero-text {
    width: 100%;
    height: 100%;
    top: 30px;
    left: 20px;
    position: absolute;
}

#logo {
    font-family: 'harmonymedium', sans-serif;
    color: #F9F8F4;
    font-size: 280%;
    padding-top: 40px;
    padding-left: 30px;
}
#sub-logo {
    font-family: 'harmonymedium', sans-serif;
    color: #EFD30B;
    left: 526px;
    position: relative;
}

#cover-text {
    font-family: 'harmonymedium'sans-serif;
    color: #F9F8F4;
    font-size: 120%;

    width: 350px;
    height: 200px;

    padding: 15px;

    background-color: rgb(239, 211, 11, .55);

    position: absolute;
    bottom: 50px;
    left: 50px;
}