* {
    margin: 0;
    padding: 0;
    border: none;
}

@font-face {
    /* font downloaded from: https://pixelsurplus.com/products/harmony-modern-serif-font (free personal use license) */
    font-family: 'harmonymedium';
    src: url(../fonts/harmony_personal_use-webfont.woff) format('woff2'),
         url(../fonts/harmony_personal_use-webfont.woff2) format('woff');
    font-weight: normal;
    font-style: normal;

}

h1, h2 {
    font-family: 'harmonymedium', 'Trebuchet MS';
}

p {
    font-family: 'Trebuchet MS', 'Times New Roman';
    font-size: 105%;
    color: #1a1a19;
}


/* hero image*/
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image-2.jpeg) no-repeat center center;

    /* animates zoom on loading landing page */
    animation-name: hero-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

/* creates level of zoom for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

/* logo and cover text  */
#hero-text {
    width: 100%;
    height: 100%;
    top: 30px;
    left: 20px;
    position: absolute;
}

#logo {
    color: #F9F8F4;
    font-size: 280%;
    padding-top: 40px;
    padding-left: 60px;
}
#sub-logo {
    color: #EFD30B;
    left: 557px;
    position: relative;
}

#cover-text {
    color: #F9F8F4;
    font-size: 120%;

    width: 350px;

    padding: 15px;

    background-color: rgb(255, 225, 0, 0.6);

    position: absolute;
    bottom: 105px;
    left: 80px;
}

/* about me styling */
#about-me-box {
    height: 100%;
    width: 95%;
    overflow: hidden;
    margin: 80px auto 90px 50px;
}

#about-me-right {
    width: 42%;
    height: 100%;
    float: right;
    justify-content: center;
    margin-right: 60px;
    padding: 40px 0;
}

#about-me-border {
    width: 540px;
    height: 165px;
    border: 18px solid #EFD30B;
}

#about-me-inner {
    justify-content: center;
    padding: 25px 30px;
}

#about-me-text {
    color: #5C5C5A;
    font-size: 300%;
    letter-spacing: 1px;
    margin: 31px 0 0 257px;
}

#about-me-left {
    width: 49%; 
    float: left;
    clear: both;
}

#about-me-left img {
    max-width: 67%;
    min-width: 460px;
    height: 690px;
    clear: both;
    float: right;
    padding: 0 61px 0 0;
}

#about-me-box p {
    text-align: left;
    margin: 50px 130px 0 0;
    line-height: 26px;
    max-width: 491px;
}

/* footer styling */
footer {
    background-color: #5C5C5A;
    height: 70px;
    text-align: center;
}