* {
    margin: 0;
    padding: 0;
    border: none;
}

@font-face {
    /* font downloaded from: https://pixelsurplus.com/products/harmony-modern-serif-font (free personal use license) */
    font-family: 'harmonymedium';
    src: url(../fonts/harmony_personal_use-webfont.woff) format('woff2'),
         url(../fonts/harmony_personal_use-webfont.woff2) format('woff');
    font-weight: normal;
    font-style: normal;

}

h1, h2 {
    font-family: 'harmonymedium', 'Trebuchet MS';
}

p, nav {
    font-family: 'Trebuchet MS', 'Times New Roman';
    font-size: 105%;
    color: #1a1a19;
}

/* logo and navigation menu */

#logo {
    max-height: 4em;
    margin-left: 15px;
}

#menu {
    float: right;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 35px;
    line-height: 65px;
    letter-spacing: 2px;
}

#menu a {
    text-decoration: none;
    color: #5C5C5A;
}

#menu a:hover {
    border-bottom: 2px solid #EFD30B;
}

.active {
    border-bottom: 2px solid #EFD30B;
}

/* hero image*/
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image-2.jpeg) no-repeat center center;

    /* animates zoom on loading landing page */
    animation-name: hero-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

/* creates level of zoom for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

/* title text and cover text  */

#hero-text {
    width: 100%;
    height: 100%;
    top: 30px;
    left: 20px;
    position: absolute;
}

#logo-text {
    color: #F9F8F4;
    font-size: 280%;
    padding-top: 40px;
    padding-left: 60px;
}
#sub-logo {
    color: #EFD30B;
    left: 557px;
    position: relative;
}

#cover-text {
    color: #F9F8F4;
    font-size: 120%;

    width: 350px;

    padding: 15px;

    background-color: rgb(255, 225, 0, 0.6);

    position: absolute;
    bottom: 105px;
    left: 80px;
}

/* about me styling */
.content-box {
    height: 100%;
    width: 95%;
    overflow: hidden;
    margin: 80px auto 90px 50px;
}

.content-right {
    width: 42%;
    height: 100%;
    float: right;
    margin-right: 60px;
    padding: 40px 0;
}

.border-box {
    width: 540px;
    height: 165px;
    border: 15px solid #EFD30B;
}

.border-box-text {
    color: #5C5C5A;
    font-size: 300%;
    letter-spacing: 1px;
    float: right;
    margin: 71px 27px 0 0;
}

.content-left {
    width: 49%; 
    float: left;
}

.content-left img {
    /* max-width: 67%;
    min-width: 460px; */
    max-height: 690px;
    clear: both;
    float: right;
    padding: 0 61px 0 0;
}

.content-right p {
    text-align: left;
    margin: 50px 130px 0 0;
    line-height: 26px;
    max-width: 491px;
}

/* footer styling */
footer {
    background-color: #5C5C5A;
    height: 70px;
    clear: both;
}

.socials {
    text-align: center;
}

.socials > li {
    display: inline;
}

.socials i {
    font-size: 160%;
    color: #F9F8F4;
    margin: .8% 5% 0 5%;
    padding: .5%;
}

/* reading and playing page */

hr {
    border-top: 5px solid #5C5C5A;
    margin-bottom: 20px;
}