* {
    margin: 0;
    padding: 0;
    border: none;
}

@font-face {
    font-family: 'harmonymedium';
    src: url(../fonts/harmony_personal_use-webfont.woff) format('woff2'),
         url(../fonts/harmony_personal_use-webfont.woff2) format('woff');
    font-weight: normal;
    font-style: normal;

}

/* hero image, logo and cover text */
#hero-image {
    height: 600px;
    width: 100%;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image-2.jpeg) no-repeat center center;
}

#logo {
    font-family: 'harmonymedium';
    color: white;
    font-size: 280%;
    padding-top: 40px;
    padding-left: 30px;
}
#sub-logo {
    font-family: 'harmonymedium';
    color: yellow;
    clear: top;
    left: 444px;
    position: absolute;
}